<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= titulo %></title>
  </head>
  <body>
    <h1><%= titulo %></h1>
    <% if (estaVivo) { %>
    <p>El servidor está activo</p>
    <% } else { %>
    <p>El servidor no está activo</p>
    <% } %> <%= new Date() %>
    <h2>Herramientas de testing:</h2>
    <ul>
      <% for(i = 0; i < herramientas.length; i++) { %>
        <li> <%= herramientas[i].id %> -> <%= herramientas[i].nombre %> </li>
      <% } %>
    </ul>
  </body>
</html>
